@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 14px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    height: auto;
    border: 1px solid;
}
main > div,ul {
    flex: 1;
}
main > ul {
    padding: 20px;
}
main > ul > li {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 58px 50px 19px -35px rgba(0,0,0,0.23);

}
main > ul > li,strong {
    font-size: 16px;
}
main > ul > li {
    list-style-type: none;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
